*{box-sizing: border-box;}
.container{
  display: flex;
  align-items:flex-start;
  justify-content:center ;
 
}
.card{
  display:grid;
  grid-gap: 5px;
  }

#text{
    resize: none;
    background-color: #EDE6DB;
    border: 1px solid #00AFC1;
    border-radius: 10px;
    padding: 7px;
    box-shadow: -2px -2px 2px #00AFC1;
}
#btn{
  border: 1px solid #00AFC1;
  border-radius: 10px;
  cursor: pointer;
}
#text:focus{
  outline: none;
  border: 2px solid #00AFC1;
}
.big{
  font-size: 25px;
  font-weight: 700;
  background-color: #97DBAE;
}