*{box-sizing: border-box;}
.container{
  display: flex;
  align-items:flex-start;
  justify-content:center ;
 
}
.row{
  display: flex;
  align-items: flex-start;
}
.card{
  display:grid;
  grid-gap: 5px;
 
  }

#text{
    resize: none;
    background-color: #EDE6DB;
    border: 1px solid #00AFC1;
    border-radius: 10px;
    padding: 7px;
    box-shadow: -2px -2px 2px #00AFC1;
}
#btn{
  border: 1px solid #00AFC1;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}
#text:focus{
  outline: none;
  border: 2px solid #00AFC1;
}
ul li {
  list-style-type: decimal;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
  
}
.btns{
  display: grid;
  margin-left: 10px;
  grid-gap: 5px;
}
.textWrite ul{
  margin-top: 0px;

}
.btns button{
  border-radius: 20px;
  box-shadow: 2px 3px #FAC213;
}